* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
    position: center;
    align-items: center;
}
form{
    background: lightblue;
    display: flex;
    flex-direction: column;
    padding: 5vw 4vw;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    right: 30%;
  }
  
form input {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
    
}
form button{
    position: absolute;
    left: 50%;
    right: 5%;
    bottom: 1%;
    padding: 15px;
    background: black;
    color: white;
    font: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
   
    
}
.form-group input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    
}
.status{
    color: red;
}

  

  